<div class="container">
    <section class="info">
        <h2>¡Bienvenido a nuestra página de juegos interactivos!</h2>
        <p>Aquí encontrarás una amplia variedad de juegos interactivos diseñados para niños de diferentes niveles educativos. Nuestros juegos están disponibles tanto en inglés como en español, brindando una experiencia de aprendizaje divertida y atractiva.</p>
        <p>Ya sea que tu hijo esté comenzando a aprender o ya sea avanzado, nuestros juegos se adaptan a diferentes niveles de habilidad, asegurando que cada niño pueda encontrar algo adecuado.</p>
    </section>
</div>

